header,footer{
    background-color: green;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    clear: left;
}
nav{background-color: aquamarine;
padding: 1em;}

.wrapper{
    display: flex;
}
.wrapper >div{
    flex: 1;
    text-align: center;
}
section{
    float: right;
    width: 65%;
    color: blue;
    height: 230px;
    padding: 1 e;
}

aside{
    float:left;
    width: 25%;
    color: blue;
    height: 430px;
    padding: 1em;
}
article{
    float: right;
    width: 65%;
    padding: 1em;
    color: blue;
    height: 230px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

.ul{
    list-style-type: none;
    text: bold;
}